.cards{
    width: 350px;
    height: 350px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    padding: 1rem;
  
    h3{
      bottom: 40px;
      color: #fff;
      font-size: 18px;
      left: 40px;
      line-height: 142.6%;
      margin: 0;
      position: absolute;
      right: 20px;
      z-index: 2;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* Pseudo-élément pour ajouter le dégradé */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 1;
  }
}
