.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;

    &_logo {
        &_img {
            width: 10rem;
        }
    }

    &_nav {
        & ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        &_link {
            font-size: 19px;
            margin: 1rem 0.5rem;
            
            &_navlink {
                padding: 0.2rem 0.7rem;
            }
            
            &_active {
                font-family: 'Montserrat-Medium';
                background: hsla(0, 100%, 82%, 0.2);
                border-radius: 0.3rem;
                padding: 0.2rem 0.7rem;
            }
        }
    }
}